/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Allow the page to scroll vertically */
body {
  height: 100%;
  overflow-x: hidden;
  
  background: linear-gradient(to right, #000000, #2c3e50);

}

/* Responsive fullscreen background video */

  



