@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  overflow-x: hidden;
  transition: all 300ms linear;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  box-shadow: 0 20px 40px rgba(76, 110, 245, 0.4);
  transform: scale(1.02);
}

/* Header styles */
.cd-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  width: calc(100% - 100px);
  margin-left: 50px;
  position: relative;
}

.logo-wrap {
  position: absolute;
  right: 0;
  top: 40px;
  cursor: pointer;
}

.logo-wrap a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.logo-wrap a span {
  color: #8167a9;
}

.logo-wrap a:hover {
  opacity: 0.9;
}

.nav-but-wrap {
  display: inline-block;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
}

/* Hamburger Icon */
.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  display: block;
  z-index: 2;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  transition: background-color .5s ease, transform .2s ease;
}

.menu-icon__line-left,
.menu-icon__line-right {
  width: 16.5px;
  transition: all 200ms linear;
}

.menu-icon__line-right {
  float: right;
}

.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

/* Nav Styles */
.nav {
  position: fixed;
  z-index: 98;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  top: 20px;
  left: 50px;
  width: 0;
  height: 0;
  background-color: rgba(20, 21, 26, 0.6);
  border-bottom-right-radius: 200%;
  z-index: -1;
  transition: border-radius 0.8s, width 0.6s, height 0.6s;
}

.nav:after {
  background-color: rgba(9, 9, 12, 1);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
}

.nav__content {
  position: fixed;
  visibility: hidden;
  top: 90px;
  left: 50px;
  width: 280px;
  text-align: left;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__list-item {
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
  margin: 7px 0;
  transition: opacity .2s ease, transform .2s ease;
}

.nav__list-item a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  text-decoration: none;
  padding-left: 40px;
  display: inline-block;
  position: relative;
  transition: all 200ms linear;
}

.nav__list-item a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 0;
  opacity: 0;
  background-color: #8167a9;
  transition: all 200ms linear;
}

.nav__list-item a:hover {
  color: #fff;
}

.nav__list-item a:hover:after {
  top: 0;
  height: 100%;
  opacity: 1;
}

.nav__list-item.active-nav a {
  color: #fff;
}

.nav__list-item.active-nav a:after {
  height: 100%;
  opacity: 1;
  top: 0;
}

/* Nav active state */
body.nav-active .nav__content {
  visibility: visible;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  transform: rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  width: 15px;
  transform: translate(2px, 4px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  width: 15px;
  transform: translate(-3px, -3.5px) rotate(45deg);
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  width: 250px;
  height: 350px;
  border-radius: 15px;
}

body.nav-active .nav:after {
  transition-delay: .1s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity .3s ease, transform .3s ease;
}
.cd-header {
  transition: top 0.3s, opacity 0.3s ease;
}

.cd-header.hidden .nav-login-signup {
  opacity: 0;
  pointer-events: none;
}

.cd-header.active .nav-login-signup {
  opacity: 1;
  pointer-events: auto;
}

.nav-login-signup {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px;
  color: white;
  font-weight: 600;
  transition: opacity 0.3s ease;
}
